<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Custom styles for this template -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="sidebar sidebar-fixed" id="sidebar">

    <div class="sidebar-brand d-none d-md-flex">
        <div class="sidebar-brand-full" alt="Logo">
            <span><i class="cib-codeigniter"></i></span>
            MANAGER
        </div>
        <div class="sidebar-brand-narrow" alt="Logo">
            <span><i class="cib-codeigniter"></i></span>
        </div>
    </div>


    {{ knp_menu_render('sidebar', {'currentClass': 'active'}) }}
    <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
</div>
<div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <header class="header header-sticky mb-4">
        <div class="container-fluid">
            <button class="header-toggler px-md-0 me-md-3" type="button"
                    onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
                <i class="icon icon-lg icon-2xl cil-menu"></i>
            </button>
            <div class="header-toggler px-md-0 me-md-3"></div>
            <ul class="header-nav ms-3">
                <li class="nav-item dropdown">
                    <a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        {{ app.user.username }}
                        {#                    <div class="avatar avatar-md"> #}
                        {#                        <img class="avatar-img" #}
                        {#                             src="https://coreui.io/demos/bootstrap/4.2/free/assets/img/avatars/2.jpg" #}
                        {#                             alt="{{ app.user.username }}"> #}
                        {#                    </div> #}
                    </a>
                    <div class="dropdown-menu dropdown-menu-end pt-0">
                        <div class="dropdown-header bg-light py-2">
                            <div class="fw-semibold">Account</div>
                        </div>
                        <a class="dropdown-item" href="{{ path('profile') }}">
                            <div class="icon me-2">
                                <i class="cil-user"></i>
                            </div>
                            Profile
                        </a>

                        <div class="dropdown-header bg-light py-2">
                            <div class="fw-semibold">Settings</div>
                        </div>
                        <a class="dropdown-item" href="{{ path('auth.reset') }}">
                            <div class="icon me-2">
                                <i class="cil-loop-circular"></i>
                            </div>
                            Reset Password
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">
                            <div class="icon me-2">
                                <i class="cil-account-logout"></i>
                            </div>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="header-divider"></div>
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                {% block breadcrumbs %}{% endblock %}
            </nav>
        </div>
    </header>
    <div class="body flex-grow-1 px-3">
        {% include '_flashes.html.twig' %}
        {% block body %}{% endblock %}
    </div>
    <footer class="footer">
        <div>
            <span>© {{ "now"|date("Y") }} All rights reserved</span>
        </div>
        <div class="ms-auto">Template by&nbsp;
            <a href="https://coreui.io/demos/bootstrap/4.2/free/" target="_blank">CoreUI 4.2 free</a>
        </div>
    </footer>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>